/* DancingTrees.module.css */
.canvasContainer {
    background-color: transparent;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.canvas {
  display: block;
  margin: auto;
}