.op-art-wrapper {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.op-art {
    width: 80%; /* 调整宽度 */
    height: 80%; /* 调整高度 */
    max-width: 300px; /* 设置最大宽度 */
    max-height: 300px; /* 设置最大高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 确保内容不会溢出 */
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5vmax solid rgb(147, 231, 234);
  box-sizing: border-box;
  animation: organic-movement 40s linear infinite;
}

.circle-1 {
  width: 10.0%;
  height: 10.0%;
  animation-duration: 40s;
}

.circle-2 {
  width: 9.0%;
  height: 9.0%;
  animation-duration: 20s;
  animation-direction: reverse;
}

.circle-3 {
  width: 8.0%;
  height: 8.0%;
  animation-duration: 10s;
}

.circle-4 {
  width: 7.0%;
  height: 7.0%;
  animation-duration: 8s;
  animation-direction: reverse;
}

.circle-5 {
  width: 6.0%;
  height: 6.0%;
  animation-duration: 5s;
}

.circle-6 {
  width: 5.0%;
  height: 5.0%;
  animation-duration: 40s;
  animation-direction: reverse;
}

.circle-7 {
  width: 4.0%;
  height: 4.0%;
  animation-duration: 20s;
}

.circle-8 {
  width: 3.0%;
  height: 3.0%;
  animation-duration: 10s;
  animation-direction: reverse;
}

.circle-9 {
  width: 2.0%;
  height: 2.0%;
  animation-duration: 8s;
}

.circle-10 {
  width: 1.0%;
  height: 1.0%;
  animation-duration: 5s;
  animation-direction: reverse;
}

@keyframes organic-movement {
    0% {
      transform: translate(calc(-10% + 10vmax * cos(0deg)), calc(-10% + 10vmax * sin(0deg))) rotate(0deg);
    }
    10% {
      transform: translate(calc(-10% + 10vmax * cos(36deg)), calc(-10% + 10vmax * sin(36deg))) rotate(36deg);
    }
    20% {
      transform: translate(calc(-10% + 10vmax * cos(72deg)), calc(-10% + 10vmax * sin(72deg))) rotate(72deg);
    }
    30% {
      transform: translate(calc(-10% + 10vmax * cos(108deg)), calc(-10% + 10vmax * sin(108deg))) rotate(108deg);
    }
    40% {
      transform: translate(calc(-10% + 10vmax * cos(144deg)), calc(-10% + 10vmax * sin(144deg))) rotate(144deg);
    }
    50% {
      transform: translate(calc(-10% + 10vmax * cos(180deg)), calc(-10% + 10vmax * sin(180deg))) rotate(180deg);
    }
    60% {
      transform: translate(calc(-10% + 10vmax * cos(216deg)), calc(-10% + 10vmax * sin(216deg))) rotate(216deg);
    }
    70% {
      transform: translate(calc(-10% + 10vmax * cos(252deg)), calc(-10% + 10vmax * sin(252deg))) rotate(252deg);
    }
    80% {
      transform: translate(calc(-10% + 10vmax * cos(288deg)), calc(-10% + 10vmax * sin(288deg))) rotate(288deg);
    }
    90% {
      transform: translate(calc(-10% + 10vmax * cos(324deg)), calc(-10% + 10vmax * sin(324deg))) rotate(324deg);
    }
    100% {
      transform: translate(calc(-10% + 10vmax * cos(360deg)), calc(-10% + 10vmax * sin(360deg))) rotate(360deg);
    }
  }