/* Services.css */

.services {
    background-color: #f0f8ff; /* 浅蓝色背景 */
    border: 2px solid #00bfff; /* 深蓝色边框 */
    border-radius: 10px; /* 圆角边框 */
    padding: 20px; /* 内边距 */
    margin: 20px 0; /* 外边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    font-family: 'Arial', sans-serif; /* 字体 */
    color: #333; /* 文字颜色 */
    transition: transform 0.3s ease; /* 动画效果 */
}

.services:hover {
    transform: scale(1.05); /* 鼠标悬停时放大 */
}
.container{
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
}

.services-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.service-item {
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-buttons button {
    margin: 0 34px;
    padding: 10px 20px;
    cursor: pointer;
}

.icon-button {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: #e0e0e0;
}

.icon-button svg {
    font-size: 17em; /* 调整图标大小 */
}

.icon-button span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-left: 0; /* 移除左边距 */
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: row-reverse; /* 右侧文本 */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.empty-container {
    flex: 1  1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.text-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    overflow: auto; /* 滚动条 */
    justify-content: center;
}

.service-icon {
    font-size: 7em;
    color: #50a5f1;
}

.nav-buttons-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.nav-buttons-vertical button {
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}
.content {
  display: flex;
  text-align: left;
}
.service-title {
    font-size: 2.5em;
    font-family: 'Cursive', sans-serif;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 阴影效果 */
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
    margin-bottom: 0;
    padding: 0;
    }

    .nav-buttons button {
        margin: 9px;
        padding: 0;
    }

    .icon-button svg {
        font-size: 4em; /* 调整图标大小 */
    }
    
    .icon-button span {
        font-size: 0.6em;
    }

    .nav-buttons {
        margin-bottom: 0px;
    }

    .service-icon {
        font-size: 3em;
    }

    .text-container {
        padding: 10px;
    }

    .content {
        flex-direction: column;
      }

    .nav-buttons-vertical {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* 等分间距 */
        margin-right: 0;
        flex: 1; /* 每个元素占据的空间一样 */
        }

      .nav-buttons-vertical button {
        margin: 0 10px 0 10px;
        padding: 1.5px;
      }
      .container{
        margin: 0;
    }
    .empty-container {
        margin-right: 0;
    }
}