.venuehire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px; /* 圆角边框 */
    margin: 20px 0; /* 外边距 */
    font-family: 'Arial', sans-serif; /* 字体 */
    color: #333; /* 文字颜色 */
    transition: transform 0.3s ease; /* 动画效果 */
}

.venuehire-content {
    width: 90%;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.section-container {
    width: 100%;
    margin-bottom: 20px;
}

.details-container {
    width: 100%;
    margin-top: 20px;
}

.icon-button {
    background: linear-gradient(to left, #79cec8, #f2ba4e);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 26px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background: linear-gradient(to left, #f2ba4e, #79cec8);
}

.sub-title {
    font-size: 2em;
    font-family: 'Cursive', sans-serif;
    color: #333;
    margin-bottom: 20px;
}
.title {
    background-color: #f0f8ff;
    border: 2px solid #f0f8ff;
    border-radius: 10px;
    /* border: ridge; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 20px;
    font-size: 4em;
    font-family: 'Cursive', sans-serif;
    color: #aad366;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

@media (max-width: 768px) {
    .venuehire-container {
        padding: 0;
        margin: 0; /* 外边距 */

    }

    .title {
        font-size: 2em;
    }

    .sub-title {
        font-size: 1em;
    }

    .venuehire-content {
        width: 95%;
    }
}
