.activities-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 80px;
}

.activities-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.activities-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.content {
    display: flex;
    text-align: left;
    flex-direction: row;
}

.nav-buttons-vertical {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
}

.nav-buttons-vertical button {
    margin: 30px 0;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to left, #79cec8, #f2ba4e);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    transition: background-color 0.3s;
}

.nav-buttons-vertical button:hover {
    background: linear-gradient(to left, #f2ba4e, #79cec8);
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: #e0e0e0;
}

.swipeable-views {
    flex-grow: 1;
}

.activity-item {
    margin-left: 300px;
    display: flex;
    overflow-x: auto; /* 允许水平滚动 */
    overflow-y: hidden; /* 禁止垂直滚动 */
    padding: 10px; /* 内边距 */
    box-sizing: border-box; 
}

.activity-title {
    font-size: 2.5em;
    font-family: 'Cursive', sans-serif;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 添加阴影特效 */
}