.about-us-container {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: left; /* 确保文字向左对齐 */
}

.about-us-content {
  width: 90%;
  margin: 0 auto;
}

.about-us h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about-us p {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
}

.section-container {
  margin-bottom: 20px;
}

.story-container {
  display: flex;
  overflow-x: auto; /* 允许水平滚动 */
  overflow-y: hidden; /* 禁止垂直滚动 */
  padding: 10px; /* 内边距 */
  box-sizing: border-box; /* 包括内边距和边框在内的总宽度 */
}

.story-container > * {
  flex: 0 0 auto;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  word-wrap: break-word; /* 确保长单词换行 */
  overflow-wrap: break-word; /* 确保长单词换行 */
  text-overflow: ellipsis; /* 溢出文本显示省略号 */
  overflow: hidden; /* 隐藏溢出内容 */
  background: #fff; /* 子元素背景色 */
  padding: 10px; /* 子元素内边距 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 子元素阴影 */
  border: 2px solid #ccc; /* 边框 */
  border-radius: 10px; /* 圆角 */
  background: linear-gradient(135deg, #f3f3f3, #e2e2e2); /* 渐变背景 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
  text-align: left; /* 文字居中向左靠齐 */
}