.Volunteering-container {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: left; /* 确保文字向左对齐 */
}

.Volunteering-content {
  width: 90%;
  margin: 0 auto;
}

.section-container {
  margin-bottom: 20px;
}

.story-container {
  margin-top: 40px;
}

.title {
  background-color: #f0f8ff;
  border: 2px solid #f0f8ff;
  border-radius: 10px;
  /* border: ridge; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 20px;
  font-size: 4em;
  font-family: 'Cursive', sans-serif;
  color: #aad366;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
}